@font-face {
  font-family: "PerfectDosvga";
  src: url("../fonts/perfectdosvga437.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

[name="newTask"]::-webkit-scrollbar {
  width: 0;
  height: 0;
}
