<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/stylesheets/style.css">
    <title>Home</title>
</head>

<body>
    <div class="container">
        <header>
            <!-- 1-ая строчка -->
            <div>
                <p>
                    <span class="text-textGreen">StrartUp Club</span><br>Statistics
                </p>
            </div>

            <!-- 2-ая строка -->
            <div class="flex justify-between">
                <div class="statisticsWeek">
                    <div>
                        <p>1 неделя</p>
                    </div>

                    <div>
                        <p>начало</p>
                        <p>24.04.2023</p>
                    </div>

                    <div>
                        <p>конец</p>
                        <p>31.04.2023</p>
                    </div>

                    <div>
                        <p>выполнено</p>
                        <p class="text-textGreen">5 задач</p>
                    </div>

                    <div>
                        <p>осталось</p>
                        <p>10 задач</p>
                    </div>
                </div>
                <div>
                    <p>Вы участник</p>
                </div>
            </div>
        </header>


        <main class="space-x-7" id="index">
            <!-- Задачи -->
            <section class="flex flex-col space-y-7 w-7/12">
                <!-- Создать новую задачу -->
                <form class="flex space-x-3 borderGreenB bg-bgNeutral min-h-[56px] p-5 items-center" id="createTaskForm"
                    autocomplete="off" action="js/formHandler.js" enctype="text/plain">
                    <label class="self-start" for="newTask">//:</label>
                    <textarea type="text" placeholder="Введите новую задачу..." required name="newTask"></textarea>
                    <select name="profession" required id="profession">
                        <option value="" selected disabled>Профессия</option>
                        <option value="frontend-dev">Frontend Dev</option>
                        <option value="backend-dev">Backend Dev</option>
                        <option value="fullstack">Fullstack</option>
                        <option value="web-design">Web Design</option>
                    </select>
                    <button class="" type="submit">
                        <img class="min-h-[15px] cursor-pointer" src="media/svg/ArrowRight.svg">
                    </button>
                </form>

                <!-- Список задач -->
                <div id="list" class="flex flex-col space-y-5">
                    <article class="tasks">
                        <!-- 1 -->
                        <div class="flex flex-row justify-between">
                            <div>
                                <p>04.24.2023</p>
                                <h6>Написать базовую логику авторизации</h6>
                            </div>

                            <!-- Пометка професии исполнителя -->
                            <div class="frontend-dev"></div>
                        </div>

                        <!-- 2 -->
                        <div class="flex justify-between">
                            <!-- Состояние -->
                            <div status class="complete"></div>

                            <p executor class="executor">Алиса Макова</p>
                        </div>
                    </article>

                    <article class="tasks">
                        <!-- 1 -->
                        <div class="flex flex-row justify-between">
                            <div>
                                <p>04.24.2023</p>
                                <h6>Изучить основы HTML</h6>
                            </div>

                            <!-- Пометка професии исполнителя -->
                            <div class="frontend-dev"></div>
                        </div>

                        <!-- 2 -->
                        <div class="flex justify-between">
                            <!-- Состояние -->
                            <div status class="inProgress"></div>

                            <p executor class="executor">Иванов Иван</p>
                        </div>
                    </article>

                    <article class="tasks">
                        <!-- 1 -->
                        <div class="flex flex-row justify-between">
                            <div>
                                <p>04.24.2023</p>
                                <h6>Решить задачи на LeetCode (4 б)</h6>
                            </div>

                            <!-- Пометка професии исполнителя -->
                            <div class="frontend-dev"></div>
                        </div>

                        <!-- 2 -->
                        <div class="flex justify-between">
                            <!-- Состояние -->
                            <div status class="take"></div>

                            <p executor class=""></p>
                        </div>
                    </article>
                </div>
            </section>

            <!-- участники -->
            <section class="w-5/12 h-fit pl-4 py-8 pr-[13%] bg-bgDark space-y-4 rounded-xl">
                <div class="flex justify-between">
                    <p>Учаcтники</p>
                    <a pageSwitcher="users"
                        class="text-xs bg-[#797979] cursor-pointer text-[#D7D7D7] px-3 py-1">Показать всех</a>
                </div>

                <!-- Карточки участников -->
                <div class="space-y-5">
                    <article class="partner bg-bgLight">
                        <div>
                            <p>Иван Иванов</p>
                            <div class="frontend-dev"></div>
                        </div>

                        <div class="flex justify-between w-4/6">
                            <p>Задачи: 2</p>
                            <p class="text-textRed">Выполенно: 0</p>
                        </div>
                    </article>

                    <article class="partner-onclick">
                        <div>
                            <p>Алиса Макова</p>
                            <div class="web-design"></div>
                        </div>

                        <div class="flex justify-between w-4/6">
                            <p>Задачи: 4</p>
                            <p class="text-[#487400]">Выполенно: 3</p>
                        </div>
                    </article>

                    <article class="partner bg-bgLight">
                        <div>
                            <p>Максим Иванов</p>
                            <div class="frontend-dev"></div>
                        </div>

                        <div class="flex justify-between w-4/6">
                            <p>Задачи: 4</p>
                            <p class="text-textRed">Выполенно: 0</p>
                        </div>
                    </article>

                    <article class="partner bg-bgLight">
                        <div>
                            <p>Иван Матраскин</p>
                            <div class="frontend-dev"></div>
                        </div>

                        <div class="flex justify-between w-4/6">
                            <p>Задачи: 2</p>
                            <p class="text-textGreen">Выполенно: 1</p>
                        </div>
                    </article>
                </div>
            </section>
        </main>

        <main hidden id="users">
            <p>users</p>
        </main>

    </div>
</body>
<script src="../public/javascripts/index.js"></script>

</html>